# {{ ansible_managed }}

define host{
  name           generic-plot-host
  use            generic-host
  action_url     {{ omd_pnp_url }}/{{ omd_site }}/pnp4nagios/index.php/graph?host=$HOSTNAME$&srv=_HOST_&view=1' class='tips' rel='{{ omd_pnp_url }}/{{ omd_site }}/pnp4nagios/index.php/popup?host=$HOSTNAME$&srv=_HOST_&view=1
}

define service{
  name           generic-plot-service
  use            generic-service
  action_url     {{ omd_pnp_url }}/{{ omd_site }}/pnp4nagios/index.php/graph?host=$HOSTNAME$&srv=$SERVICEDESC$&view=1' class='tips' rel='{{ omd_pnp_url }}/{{ omd_site }}/pnp4nagios/index.php/popup?host=$HOSTNAME$&srv=$SERVICEDESC$&view=1
}

